th, td {
    padding: 20px;
  }
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  th{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
  h1{
    font-size:50px ;
    color: ghostwhite;
    background-color: black;
  }